*{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica,sans-serif;
    box-sizing: border-box;
}
.mainblock{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#57C84D, #175616);
    padding: 10px;
    
}
.ToDoList{
    width: 100%;
    max-width: 580px;
    margin: 100px auto 30px;
    background-color: #fff;
    padding: 50px 20px 60px;
    border-radius: 20px;
    
}
.ToDoList h1 {
    color: #1a6fef;
    display: flex;
    margin-bottom: 20px;
    align-items: center;

}
.ToDoList h1 img{
    width: 50px;
    margin-right: 15px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: antiquewhite;
    padding-left: 20px;
    margin-bottom: 20px;
    border-radius: 40px;
}
input{
    flex:1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 18px;
    font-weight: 30px;
    padding: 15px;
}
button{
    padding: 15px 25px;
    border-radius: 40px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    background-color: #e46e00;
    color: #fff;  
}

button:hover{
    background-color: #01981d;
}

button:active{
    background-color: #2ded50;
}
ul li {
     list-style: none;
     font-size: 22px;
     padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
   
    background-size: cover;
    background-position: center;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    justify-content: left;
    background-image: url(images/unchcked.png);
    top:12px;
    left:8px; 
}
ul li.checked{
    color: rgb(152, 152, 152);
    text-decoration: line-through;

}
ul li.checked::before{
    background-image: url(images/check.png);
}

ul li span {
    position: absolute;
    right: 0;
    line-height: 40px;
    top:12px;
    height: 40px;
    width: 40px;
    font-size: 25px;
    text-align: center;
    border-radius: 40%;
    

}
ul li span:hover{
    background-color: rgb(164, 164, 164);
   
}